body > header {
  background: $header-bg;
  h1 {
    display: inline-block;
    margin: 0;
    a, a:visited, a:hover {
<<<<<<< HEAD
      color: $title-color;
=======
      color: $title_color;
>>>>>>> 44d8b010b40606477dfd1c42989b827f0ccb30cb
      text-decoration: none;
    }
  }
  h2 {
    margin: .2em 0 0;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-weight: normal;
  }
}
