.sharing {
  p.meta + & {
    padding: { top: 1em; left: 0; }
    background: $img-border top left repeat-x;
  }
}

#fb-root { display: none; }
<<<<<<< HEAD

.fb-like.fb_iframe_widget span {
  vertical-align: baseline !important;
}
=======
>>>>>>> 44d8b010b40606477dfd1c42989b827f0ccb30cb
