table.projects-table, table.projects-table th, table.projects-table td {
    border: 1px solid lightgray;
    padding: 5px 10px;
}

table.projects-table th {
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
}

table.projects-table p {
    margin: 5px 0px;
}
